nav {
  max-width: 1120px;
  margin: auto;
  padding: 1.5rem 10rem;

  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */

  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: Teko;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.menu {
  /* display: flex;
  flex-direction: row;
  gap: 1.5rem; */
  color: #fff2e780;

  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1.5rem;
}

.github {
  color: #fff2e7;
  font-weight: 600;
}

main {
  /* display: flex;
  flex-direction: column; */
  display: grid;
  grid-template-columns: auto;
}

.principal {
  background-color: #181012;
}

.hero {
  max-width: 1120px;
  height: 60vh;
  margin: auto;
  padding: 0 2rem;

  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem; */
  overflow: clip;

  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.hero-content {
  /* display: flex;
  flex-direction: column;
  gap: 1rem; */

  display: grid;
  grid-template: auto auto;
  row-gap: 1rem;
}

.detail {
  font-family: Epilogue;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.marrom {
  color: #a45a49;
}

.amarelo {
  color: #e7a80e;
}

h1 {
  font-family: Montserrat;
  font-size: 3.5rem;
  font-weight: 800;
}

hr {
  border-color: #a45a49;
}

.hero-subtitle {
  color: #c7bab3;
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
}

.hero-images-container {
  max-width: 98%;
  /* column-count: 4;
  column-gap: 1rem;
  margin: -1rem; */

  display: grid;
  grid-template: auto / auto auto auto auto;
  column-gap: 1rem;
  margin: -1rem;
}

.hero-images-container > figure > img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.button-container {
  width: 100%;
  max-width: 1120px;
  margin: auto;
  transform: translate("0, -50%");
}

button {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;

  background: #a45a49;
}

.recipies {
  /* display: flex;
  flex-direction: column; */

  display: grid;
  grid-template-columns: auto;

  max-width: 1120px;
  padding: 3rem 2rem;
  margin: auto;
}

.recipies-header {
  /* display: flex;
  flex-direction: column;
  gap: 0.5rem; */

  display: grid;
  grid-template-columns: auto;
  gap: 0.5rem;
}

.recipies-title {
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  color: #fff2e7;
}

.recipies-subtitle {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  color: #c7bab3;
}

.recipies-card-container {
  padding: 0 2rem;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem; */

  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.recipies-card {
  background: #2a1a1c;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 0.5rem;

  /* display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 29rem; */

  display: grid;
  grid-template-columns: auto;
  gap: 2rem;
}

.recipies-card-header {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end; */

  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: end;
}

.recipies-card-header-details {
  /* display: flex;
  flex-direction: column;
  gap: 0.5rem; */

  display: grid;
  grid-template-columns: auto;
  gap: 0.5rem;
}

.recipies-card-title {
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff2e7;
}

.recipies-card-score {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  color: #756a67;
}

.recipies-card-description {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 400;
  color: #c7bab3;
}

.recipies-card-autor {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem; */

  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 0.5rem;
}

.recipies-card-autor > img {
  border-radius: 20rem;
  width: 1.5rem;
}

.recipies-card-autor > span {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 600;
  color: #c7bab3;
}

footer {
  padding: 4rem;
  background: #23181a;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; */

  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.footer-copy {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  color: #fff2e7;
}

.footer-autor {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(255, 242, 231, 0.5);
}
